img {
    width: 100%;
    height: auto;
    }
body {
    /*background-color:#84a9ac;*/
    text-align: center;
    background-color: black;
	background-image:
	 radial-gradient background-color: transparent;
     background-image:
      radial-gradient(#3b6978 5px, transparent 6px);
     background-size: 45px 45px;3px, transparent 3px);
    color: blanchedalmond;
    
}
h1  {
    color:#900c3f;
    font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
    
}
span {
    background-color: black;
}
h2 {
    font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
    color:#f0a500;
}
h3 {
    font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
}
h4 {
    font-size: 30px;
    text-align: center;
    font-family:fantasy;
}
p {
    font-family: "ヒラギノ丸ゴ ProN","Hiragino Maru Gothic ProN";
    font-size: 18px;
}
a {
    color: #f4ebc1;
    font-size: 20px;
}